extends layout

block content
  h1 #{title}

  ul
    each reservation in reservations
      li
        strong  Customer:
        |  #{reservation.customer}
        strong  Date:
        |  #{reservation.date}
        strong  Start:
        |  #{reservation.start_time}
        strong  End:
        |  #{reservation.end_time}
        strong  Table:
        |  #{reservation.table}
